body {
  margin: 0px;
}
div {
  box-sizing: border-box;
  background-color: #aaa;
  width: 140px;
  height: 80px;
  text-align: center;
  padding: 1rem;
  border: 10px solid #111;
  margin: 30px;
}
h1 {
  background-color: #84e;
  padding: 20px;
  border: 4px solid #111;
  margin: 40px;
}
